NODE_ENV=development
PORT=3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=alumbrera
DB_PASSWORD=localdev
DB_NAME=alumbrera
DB_SSL=false

# Azure Entra External ID
AZURE_JWKS_URI=https://your-tenant.ciamlogin.com/<tenant-id>/discovery/v2.0/keys
AZURE_ISSUER=https://your-tenant.ciamlogin.com/<tenant-id>/v2.0
AZURE_AUDIENCE=00000000-0000-0000-0000-000000000000

# CORS
ALLOWED_ORIGINS=http://localhost:5173

#DB URL Variable
DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>"